@{
    ViewBag.Title = "ChangeRootDirectory";
}

<h2>Change Root Directory</h2>

<p>Choose one of the listed drives.</p>
<p>Selecting default root C:\FolderOrganisation is recommended in other to improve perfomanse.</p>
<p>Loading next directory can take up to 5 min depending on amount of folders computer has to delete/create on leaving current root directory.</p>
@using (Html.BeginForm("ChangeRootDirectory", "Folder", FormMethod.Post))
{
    @Html.DropDownList("selectedRootDirectory", (List
        <SelectListItem>)ViewBag.dropDsownList)
    <input type="submit" class="btn-primary" />
    @Html.ActionLink("Cancel", "FolderList", null, new { @class = "btn btn-danger"});
}